{% extends "base.html" %}

{% block content %}

<main>
    <section>
        <h1>projects</h1>
        <ul>
            <li>
                <a href="https://github.com/kil0meters/remu">remu</a><br>
                <span>A RISC-V Linux virtual machine.</span>
            </li>
            <li>
                <a href="https://snail.meters.sh">snail++</a> (<a href="https://github.com/kil0meters/snailplusplus">gh</a>) <br>
                <span>An idle game.</span>
            </li>
            <li>
                <a href="https://chicoacm.org">chicoacm.org</a> (<a href="https://github.com/kil0meters/acm">gh</a>) <br>
                <span>A competitive programming website with determinstic timing.</span>
            </li>
            <li>
                <a href="https://sketchnexus.com">SketchNexus</a><br>
                <span>A competitive drawing website.</span>
            </li>
            <li>
                <a href="https://ranker.meters.sh">Ranker</a><br>
                <span>An elo-based ranking website.</span>
            </li>
            <li>
                <a href="https://github.com/kil0meters/psilisp">psilisp</a><br>
                <span>A simple scheme implementation.</span>
            </li>
            <li>
                <a href="https://github.com/kil0meters/acolyte">acolyte</a><br>
                <span>A combined web forum and streaming platform.</span>
            </li>
        </ul>
    </section>

    <aside>
        <h1>post archive</h1>

        {% for page in section.pages %}
        <article>
            <header style="display:flex;gap:1em;">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
                <p>
                    {{ page.date }}
                </p>
            </header>
        </article>
        {% endfor %}
    </aside>
</main>

{% endblock content %}
